{% load www_extras %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<link rel="stylesheet" href="{{ MEDIA_URL }}css/blueprint/screen.css"
	type="text/css" media="screen, projection">
<link rel="stylesheet" href="{{ MEDIA_URL }}css/blueprint/print.css"
	type="text/css" media="print">
<!--[if lt IE 8]><link
    rel="stylesheet"
    href="{{ MEDIA_URL }}css/blueprint/ie.css"
    type="text/css"
    media="screen, projection"><![endif]-->
<link rel="stylesheet"
	href="{{ MEDIA_URL }}css/blueprint/plugins/fancy-type/screen.css"
	type="text/css" media="screen, projection">
<link rel="stylesheet"
	href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/themes/cupertino/jquery-ui.css"
	style="text/css" />
<link rel="stylesheet" href="{{ MEDIA_URL }}css/style.css" type="text/css" />
<link rel="stylesheet" type="text/css"
	href="{{ MEDIA_URL }}superfish/css/superfish.css" media="screen">
<link rel="stylesheet" type="text/css"
	href="{{ MEDIA_URL }}superfish/css/superfish-vertical.css" media="screen">
<title>Centre Equestre de Corminboeuf -
{% block title %}Bienvenu{% endblock %}</title>
<script
    type="text/javascript"
    src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js">
</script>
<script type="text/javascript"
	src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/jquery-ui.min.js">
</script>
<script type="text/javascript"
	src="{{ MEDIA_URL }}js/jquery.hoverIntent.minified.js">
</script>
<script type="text/javascript" src="{{ MEDIA_URL }}superfish/js/superfish.js">
</script>
<script type="text/javascript">
    $(document).ready(function(){
        $("#leftpanesep").height($("#main").height());
    }); 
</script>
</head>
<body>
<div class="container">
<div id="header" class="span-24 last">
<div class="span-5 headerlogo">
<img src="{{ MEDIA_URL }}images/logo.jpg" alt="logo"></div>

<div class="span-19 last">
<div class="headertitle">
<h1>Centre Equestre de Corminboeuf</h1>
</div>
<div class="headersubtitle">
Commerce de poneys et de chevaux, Ecole d'équitation,
Manifestations hippiques<br></br>
Famille Brahier, rte de Matran 2, 1720 Corminboeuf
</div>
</div>
</div>

<div id="breadcrumb" class="span-24 last">
<div class="span-5">{% block breadcrumb %}&nbsp;{% endblock %}</div>
<div class="login span-19 last">Login</div>
</div>

<div id="leftpane" class="span-4">  
{% block navigation %}{% navigation 'home' %}{% endblock %}
</div>
<div id="leftpanesep" class="span-1">
&nbsp;
</div>
<div id="main" class="span-19 last">
{% block content %}{% endblock%}
</div>
<div id="footer" class="span-24 last">
<div id="copyright">Copyright &copy; 2010 Jacques Supcik |
All rights reserved</div>
<div id="version">Version {{ portal_version }}</div>
</div>
</div>
</body>

</html>
